.center.jumbotron
  %h1 welcome to sample App.
  %h2
    This is the home page for the
    = link_to 'Ruby on rails Tutorial', 'http://www.railstutorial.org'

  = link_to 'Sign up Now!!', signup_path, class: "btn btn-primary"