= f.text_field :name, placeholder: "First Name"
= f.text_field :email, placeholder: "Email Address"
= f.password_field :password, placeholder: "Password"
= f.password_field :password_confirmation, placeholder: "Confirm Password"
