.main-content {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.subscribe {
  width: 50%;
  margin: 0 auto;
  h1 {
  text-align: center;
  }
}

.thanks {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.center {
  text-align: center;
}
