$color-white: #fff;
$color-black: #000;

/* Greens */
$color-green: #00FFCD;

/* Reds */
$color-red-light: rgb(249, 213, 219);
$color-red-dark: rgb(230, 47, 73);

/* Greens */
$color-green-light: rgb(204, 247, 240);
$color-green-dark: rgb(0, 215, 186);

/* Oranges */
$color-orange-light: rgb(255, 239, 210);
$color-orange-dark: rgb(252, 177, 31);

/* Purples */
$color-purple-light: rgb(214, 218, 231);
$color-purple-dark: rgb(56, 70, 134);

/* Blues */
$color-blue-original: #337ab7;
$color-carribbean-light: rgb(210, 230, 236);
$color-carribbean-dark: rgb(29, 128, 162);

/* Greys */
$color-grey: #676770;
$color-light-grey: #EBEBEB;
$color-dark-grey: #58595B;
$color-medium-light-grey: #BDBEC0;
$color-medium-dark-grey: #8B8C8E;
